body {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    position: relative;
}

.search {
    position: absolute;
    top: 10%;
    right: 2.5%;
}