body, html {
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 93%;
    position: relative;
}

#siteInfo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 93%;
    border: 1px solid #000;
    background-color: rgba(225, 225, 208, .9);
}