body, html {
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 90.25%;
    position: relative;
}

#siteInfo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 93%;
    background-color: rgba(225, 225, 208, .9);
    transition: width 2s;
}

.siteInfo-inner {
    position: relative;
    height: 97.25%;
}

.siteInfo-inner__close {
    position: absolute;
    top: 0;
    right: 0;
}

.siteInfo-inner__go {
    position: absolute;
    bottom: 0;
}

.siteInfo-inner__h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    font-size: 1em;
}

#siteInfoRoot p {
    font-size: .9em;
    margin-left: 5%;
}